nex_FRONTEND/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50606/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CampusService" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="argUser" nillable="true" type="q1:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="getUserResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="product" nillable="true" type="q3:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="GetProductResult" nillable="true" type="q4:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByUserEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductByUserEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="GetProductByUserEmailResult" nillable="true" type="q5:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="GetProductsResult" nillable="true" type="q6:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="SearchProductsResult" nillable="true" type="q7:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="product" nillable="true" type="q8:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="bidAmount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlaceBidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PlaceBidResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBidHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBidHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="GetBidHistoryResult" nillable="true" type="q9:ArrayOfBid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBids">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserBidsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="GetUserBidsResult" nillable="true" type="q10:ArrayOfBid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinningBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinningBidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="GetWinningBidResult" nillable="true" type="q11:Bid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteAuction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteAuctionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompleteAuctionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddToCartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="GetUserCartResult" nillable="true" type="q12:ArrayOfCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveFromCartResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="totalAmount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateInvoiceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInvoiceLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
        <xs:element minOccurs="0" name="price" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddInvoiceLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddInvoiceLineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInvoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="GetUserInvoicesResult" nillable="true" type="q13:ArrayOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="GetProductsByUserIdResult" nillable="true" type="q14:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsForApproval">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsForApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="GetProductsForApprovalResult" nillable="true" type="q15:ArrayOfProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApproveProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectProductResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsSoldCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsSoldCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProductsSoldCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalStockCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalStockCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalStockCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalRevenue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTotalRevenueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTotalRevenueResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSalesByCategoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLowStockProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="threshold" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLowStockProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLowStockProductsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockByCategory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStockByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStockByCategoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUsersCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveUsersCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActiveUsersCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopSpenderAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopSpenderAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTopSpenderAmountResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAverageUserSpend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAverageUserSpendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAverageUserSpendResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveAuctionsCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveAuctionsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetActiveAuctionsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletedAuctionsCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletedAuctionsCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompletedAuctionsCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAverageWinningBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAverageWinningBidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAverageWinningBidResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionSuccessRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionSuccessRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuctionSuccessRateResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyRegistrationsReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyRegistrationsReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDailyRegistrationsReportResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getReportDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CampusService" minOccurs="0" name="getReportDataResult" nillable="true" type="q16:ReportData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>